:root {
  --color-1: 202, 240, 248;
  --color-2: 173, 232, 244;
  --color-3: 144, 224, 239;
  --color-4: 72, 202, 228;
  --color-5: 0, 180, 216;
  --color-6: 0, 150, 199;
  --color-7: 0, 119, 182;
  --color-8: 2, 62, 138;
  --color-9: 3, 4, 94;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

body {
  box-sizing: border-box;
}

button {
  background-color: transparent;
  border: none;
}

button:hover {
  cursor: pointer;
}

.button-popUp {
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0px 4px 2px rgb(var(--color-9));
  border: none;
  padding: 30px;
  transition: 0.5s;
}
.button-popUp:hover {
  cursor: pointer;
  transform: translateY(-10px);
  transition: 0.5s;
  box-shadow: 0px 6px 2px rgb(var(--color-9));
}
.button-popUp:active {
  transform: translateY(-3px);
  transition: 0.25s;
  box-shadow: 0px 5px 2px rgb(var(--color-9));
}

input,
textarea {
  padding: 10px;
  color: rgba(var(--color-9), 0.8);
  resize: none;
  background-color: transparent;
  border: none;
  background-color: rgb(var(--color-1));
  border-radius: 15px;
  font-size: 15px;
  font-family: inherit;
}

input:focus,
textarea:focus {
  outline: solid rgb(var(--color-9));
}

::selection {
  background-color: black;
  color: white;
}

body .hide {
  display: none;
}

body {
  font-family: "Red Hat Text";
  color: rgb(var(--color-2));
}

.welcome {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(to top, rgb(var(--color-7)), rgb(var(--color-3)));
  border-radius: 20px;
  text-align: center;
  color: rgb(var(--color-8));
  padding: 30px;
  font-size: 30px;
  box-shadow: 0px 4px 8px rgb(var(--color-9));
}
.welcome_text {
  width: 400px;
  padding: 20px;
  border-left: double rgb(var(--color-8));
}
.welcome_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.welcome_icon {
  padding: 20px;
  width: 400px;
}
.welcome_button {
  position: relative;
  background-image: linear-gradient(to top, rgb(var(--color-8)), rgb(var(--color-7)));
  font-size: 40px;
  margin-top: 30px;
  color: rgb(var(--color-4));
}
.welcome_button:hover {
  transform: translateY(-17px);
  transition: 0.5s;
  box-shadow: 0px 6px 2px rgb(var(--color-9));
}
.welcome_button:active {
  transform: translateY(-7.5px);
  transition: 0.25s;
  box-shadow: 0px 5px 2px rgb(var(--color-9));
}

.pattients {
  background-image: linear-gradient(to bottom, rgba(var(--color-4), 0.3), rgba(var(--color-8), 0.3));
  border-radius: 1rem;
  box-shadow: 0px 5px 2px rgb(var(--color-9));
  margin: 5px;
  grid-row: 2/3;
  grid-column: 1/2;
}
.pattients_navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.pattients_arrow {
  width: 30px;
  height: 30px;
  background-color: transparent;
}
.pattients_pages {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}
.pattients_pages_button {
  background-color: rgb(var(--color-8));
  width: 25px;
  height: 25px;
  border: solid rgb(var(--color-4));
  border-radius: 35%;
}
.pattients_pages_button:hover {
  background-color: rgb(var(--color-6));
}
.pattients_pages_button_selected {
  background-color: rgb(var(--color-4));
  width: 35px;
  height: 35px;
}
.pattients_result {
  padding: 10px 2px;
  height: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  list-style: none;
}
.pattients_result_item {
  margin: 3px;
  border: double rgb(var(--color-8));
  background-color: rgb(var(--color-3));
  border-radius: 20px;
  width: 100%;
  height: 16%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(var(--color-8));
}
.pattients_result_item_selected {
  background-color: rgb(var(--color-8));
  color: rgb(var(--color-3));
}
.pattients_name {
  color: inherit;
}
.pattients_image {
  height: 50px;
  width: 50px;
  border-radius: 10%;
}

.info {
  background-image: linear-gradient(to bottom, rgba(var(--color-4), 0.3), rgba(var(--color-8), 0.3));
  border-radius: 1rem;
  box-shadow: 0px 5px 2px rgb(var(--color-9));
  margin: 5px;
  grid-row: 2/3;
  grid-column: 2/3;
  display: flex;
}
.info_data {
  height: 100%;
  width: 35%;
  border-right: double rgb(var(--color-8));
  display: grid;
  grid-template-rows: 35% 55% 50px;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}
.info_figure {
  grid-area: 1/1/2/4;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info_border {
  background-color: rgb(var(--color-1));
  border-radius: 10px;
  width: 150px;
  height: 150px;
}
.info_pattient_image {
  width: 150px;
  height: 150px;
  border-radius: 20px;
}
.info_name {
  margin-top: 10px;
  padding: 5px;
  color: rgb(var(--color-8));
  background-color: rgb(var(--color-3));
  border-radius: 10px;
}
.info_fields {
  padding: 10px;
  grid-area: 2/1/3/4;
  border-radius: 10px;
  background-color: rgb(var(--color-3));
  color: rgb(var(--color-7));
  height: 95%;
  width: 98%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.info_generate {
  grid-area: 3/1/4/2;
}
.info_edit {
  grid-area: 3/2/4/3;
}
.info_remove {
  grid-area: 3/3/4/4;
}
.info_btn_image {
  height: 50px;
  border-radius: 10px;
}
.info_look {
  grid-area: 1/1/4/4;
  background: rgb(var(--color-3));
  border-radius: 10px;
  color: rgb(var(--color-8));
  width: 80%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.info_flex {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.form {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(to top, rgb(var(--color-7)), rgb(var(--color-3)));
  border-radius: 20px;
  text-align: center;
  color: rgb(var(--color-8));
  padding: 5px;
  font-size: 30px;
  box-shadow: 0px 4px 8px rgb(var(--color-9));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form_label {
  font-size: 20px;
  font-weight: 700;
  color: rgb(var(--color-8));
}
.form_input {
  font-size: 1rem;
  width: 250px;
}
.form_grid {
  display: grid;
  grid-template-columns: 300px 0px 300px 0px 300px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  align-items: center;
  justify-items: center;
  padding: 5px;
}
.form_separator {
  height: 100%;
  border-left: double rgb(var(--color-8));
}
.form_separator_1 {
  grid-area: 1/2/6/3;
}
.form_separator_2 {
  grid-area: 1/4/6/5;
}
.form_pattient {
  grid-area: 1/1/2/2;
  display: flex;
  flex-direction: column;
}
.form_birthday {
  grid-area: 2/1/3/2;
}
.form_phone {
  grid-area: 4/1/5/2;
}
.form_email {
  grid-area: 5/1/6/2;
}
.form_gender {
  width: 100%;
  grid-area: 3/1/4/2;
  display: flex;
}
.form_reason {
  grid-area: 1/3/2/4;
}
.form_description {
  grid-area: 2/3/6/4;
}
.form_delete {
  grid-area: 1/5/2/6;
  padding: 10px;
  border-radius: 10px;
  font-size: 30px;
  color: rgb(var(--color-9));
  background-color: transparent;
}
.form_img {
  grid-area: 2/5/5/6;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  background-color: rgb(var(--color-1));
}
.form_img_display {
  width: 250px;
  height: 250px;
  border-radius: 30px;
}
.form_upload {
  grid-area: 5/5/6/6;
}
.form_cancel {
  padding: 10px;
  border-radius: 10px;
  font-size: 30px;
  color: rgb(var(--color-9));
  background-color: transparent;
}
.form_submit {
  grid-area: 6/3/7/5;
  padding: 10px;
  border-radius: 10px;
  font-size: 30px;
  color: rgb(var(--color-9));
  background-color: transparent;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgb(var(--color-8)), rgb(var(--color-2)));
}

.background-blur {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(var(--color-8), 0.7);
  backdrop-filter: blur(4px);
}

.container {
  position: absolute;
  width: 98%;
  height: 98%;
  top: 1%;
  left: 1%;
  background-image: linear-gradient(to bottom, rgba(var(--color-4), 0.5), rgba(var(--color-7), 0.5));
  box-shadow: 0px 8px 4px rgb(var(--color-9));
  border-radius: 10px;
  display: grid;
  grid-template-columns: 2fr 11fr;
  grid-template-rows: 60px 1fr;
}

.header {
  background-image: linear-gradient(to bottom, rgba(var(--color-4), 0.2), rgba(var(--color-7), 0.2));
  box-shadow: 0px 5px 2px rgb(var(--color-9));
  border-radius: 1rem;
  margin: 5px;
  grid-row: 1/2;
  grid-column: 1/-1;
  display: flex;
  padding: 0px 20px;
  justify-content: space-between;
  align-items: center;
}
.header_add_image {
  height: 50px;
}
.header_options {
  width: 30%;
  display: flex;
  justify-content: space-between;
}
.header_icon {
  height: 80%;
}
.header_search {
  background-color: rgb(var(--color-1));
  border-radius: 15px;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.header_search_button {
  border: none;
  background-color: transparent;
}
.header_search_input {
  font-size: 20px;
  font-weight: 700;
  color: rgba(var(--color-9), 0.8);
  text-align: center;
  width: 90%;
  height: 40px;
  border: none;
  background: none;
}
.header_search_input::placeholder {
  color: rgb(var(--color-8));
  opacity: 0.5;
}
.header_search_icon {
  padding: 0px 10px;
  height: 30px;
}

/*# sourceMappingURL=style.css.map */
