:root {
  --color-1: 202, 240, 248;
  --color-2: 173, 232, 244;
  --color-3: 144, 224, 239;
  --color-4: 72, 202, 228;
  --color-5: 0, 180, 216;
  --color-6: 0, 150, 199;
  --color-7: 0, 119, 182;
  --color-8: 2, 62, 138;
  --color-9: 3, 4, 94;
  //   --color-9: 218, 116, 116;
  //   --color-8: 240, 128, 128;
  //   --color-7: 242, 140, 135;
  //   --color-4: 244, 151, 142;
  //   --color-5: 248, 173, 157;
  //   --color-4: 250, 185, 164;
  //   --color-3: 251, 196, 171;
  //   --color-2: 253, 207, 178;
  //   --color-1: 255, 218, 185;
}
