.form {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(
    to top,
    rgb(var(--color-7)),
    rgb(var(--color-3))
  );
  border-radius: 20px;
  text-align: center;
  color: rgb(var(--color-8));
  padding: 5px;
  font-size: 30px;
  box-shadow: 0px 4px 8px rgb(var(--color-9));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &_label {
    font-size: 20px;
    font-weight: 700;
    color: rgb(var(--color-8));
  }

  &_input {
    font-size: 1rem;
    width: 250px;
  }

  &_grid {
    display: grid;
    grid-template-columns: 300px 0px 300px 0px 300px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    align-items: center;
    justify-items: center;
    padding: 5px;
  }

  &_separator {
    height: 100%;
    border-left: double rgb(var(--color-8));
    &_1 {
      grid-area: 1/2/6/3;
    }
    &_2 {
      grid-area: 1/4/6/5;
    }
  }

  &_pattient {
    grid-area: 1/1/2/2;
    display: flex;
    flex-direction: column;
  }

  &_birthday {
    grid-area: 2/1/3/2;
  }

  &_phone {
    grid-area: 4/1/5/2;
  }

  &_email {
    grid-area: 5/1/6/2;
  }

  &_gender {
    width: 100%;
    grid-area: 3/1/4/2;
    display: flex;
  }

  &_reason {
    grid-area: 1/3/2/4;
  }

  &_description {
    grid-area: 2/3/6/4;
  }

  &_delete {
    grid-area: 1/5/2/6;
    padding: 10px;
    border-radius: 10px;
    font-size: 30px;
    color: rgb(var(--color-9));
    background-color: transparent;
  }

  &_img {
    grid-area: 2/5/5/6;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    background-color: rgb(var(--color-1));

    &_display {
      width: 250px;
      height: 250px;
      border-radius: 30px;
    }
  }

  &_upload {
    grid-area: 5/5/6/6;
  }

  &_cancel {
    // width: 150px;
    padding: 10px;
    border-radius: 10px;
    font-size: 30px;
    color: rgb(var(--color-9));
    background-color: transparent;
  }

  &_submit {
    // width: 150px;
    grid-area: 6/3/7/5;
    padding: 10px;
    border-radius: 10px;
    font-size: 30px;
    color: rgb(var(--color-9));
    background-color: transparent;
  }
}
