.info {
  background-image: linear-gradient(
    to bottom,
    rgb(var(--color-7)),
    rgb(var(--color-8))
  );
  // background-color: transparent;
  border-radius: 1rem;
  box-shadow: 0px 5px 2px rgb(var(--color-9));
  margin: 5px;
  grid-row: 2/3;
  grid-column: 2/3;
  display: flex;

  &_data {
    height: 100%;
    width: 30%;
    border-right: double rgb(var(--color-9));
    display: grid;
    grid-template-rows: 160px 1fr 50px;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding-right: 10px;
  }

  &_figure {
    grid-area: 1/1/2/4;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &_border {
    background-color: rgb(var(--color-8));
    border-radius: 10px;
    width: 120px;
    height: 120px;
    box-shadow: 0px 2px 2px rgb(var(--color-9));
  }

  &_patient_image {
    width: 120px;
    height: 120px;
    border-radius: 20px;
  }

  &_name {
    margin-top: 5px;
    padding: 5px;
    color: rgb(var(--color-1));
    background-image: linear-gradient(
      to bottom,
      rgb(var(--color-6)),
      rgb(var(--color-7))
    );
    border-radius: 10px;
    box-shadow: 0px 1px 2px rgb(var(--color-9));
  }

  &_fields {
    background-color: transparent;
    padding: 0px 10px;
    grid-area: 2/1/3/4;
    border-radius: 10px;
    color: rgb(var(--color-2));
    height: 95%;
    width: 98%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }

  &_generate {
    grid-area: 3/1/4/2;
  }

  &_edit {
    grid-area: 3/2/4/3;
  }

  &_text {
    font-size: 10px;
  }

  &_remove {
    grid-area: 3/3/4/4;
  }

  &_btn_image {
    height: 50px;
    border-radius: 10px;
  }

  &_look {
    grid-area: 1/1/4/4;
    border-radius: 10px;
    color: rgb(var(--color-1));
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &_flex {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
